body{
background-image:url(https://p4.wallpaperbetter.com/wallpaper/486/591/731/spitzer-space-telescope-space-galaxy-nasa-wallpaper-preview.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-attachment: fixed;
color: white;
font-size: 20px;
font-style: oblique;
margin: 200PX;
margin-top: 2px;



}


img{
;



}


h1{

color: rgb(224, 74, 37);

}
ul{
background-color: rgba(14, 14, 143, 0.548);
}

p{
background-color: rgba(255, 235, 205, 0.432);
  padding: 30px;  
}
